/*Left drawer modal*/
.modal.modal-left {
  width: 624px;
  position: absolute;

  .modal-dialog {
    position: absolute;
    margin: 0 !important;
    left: 0;
    top: 0;
    height: 100%;
    width: 600px;
  }

  .modal-content {
    position: absolute;
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
    width: 600px;
  }

  &.size-sm {
    width: 312px;

    .modal-dialog,
    .modal-content {
      width: 300px;
    }
  }
}
