/*Left drawer modal*/
.modal.modal-left {
  width: 624px;
  position: absolute;

  .modal-dialog {
    position: absolute;
    margin: 0 !important;
    left: 0;
    top: 0;
    height: 100%;
    width: 600px;
  }

  .modal-content {
    position: absolute;
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
    width: 600px;
  }
}

.modal.modal-left .close {
  background: white;
  position: fixed;
  left: 596px;
  top: 33px;
  opacity: 1;
  color: #666;
  border-radius: 0px 4px 4px 0px;
  line-height: 0;
  width: 26px;
  height: 26px;
  outline: 0 !important;
  z-index: 1000;
}

.modal.modal-left .close:hover {
  color: #333;
  left: 593px;
}
