/* BS overrides */

.modal {
  @include transform(translateZ(0));
}

.modal.in .modal-dialog {
  transition: none;
}

.modal-backdrop {
  opacity: 0;
  @include animation('fade-in 200ms linear');
}

.modal.fade {
  transition: none;
}
